body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rbc-agenda-event-cell {
  cursor: pointer;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell span {
  text-transform: capitalize;
}

.rbc-toolbar {
  flex-wrap: nowrap !important;
}

@media screen and (max-width: 390px) {
  .rbc-toolbar span {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 740px) {
  .rbc-toolbar span {
    font-size: 0.75rem;
  }
}
